.btn-link, .checkbox label, .checkbox-inline, .radio label, .radio-inline, label {
    font-weight: bold;
}

.form-control, .table {
    color: #1d1d1d;
}

.btn-link, .checkbox label, .checkbox-inline, .radio label, .radio-inline, label {
    font-weight: 500;
}

.form-control, .table {
    color: #1d1d1d;
}

label {
    color: #1d1d1d !important;
    font-weight: 500 !important;
}

input, table, td {
    color: #1d1d1d !important;
}

.btn-big {
    padding: 1.5rem 2rem !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    border-radius: .3rem !important;
}

.panel.widget p {
    max-height: max-content !important;
}